/***********
    ALL
 *************/

body,
html{
  background: rgb(25,25,119);
  background: -moz-linear-gradient(133deg, rgba(25,25,119,1) 24%, rgba(255,0,16,1) 73%, rgba(141,17,17,1) 100%);
  background: -webkit-linear-gradient(133deg, rgba(25,25,119,1) 24%, rgba(255,0,16,1) 73%, rgba(141,17,17,1) 100%);
  background: linear-gradient(133deg, rgba(25,25,119,1) 24%, rgba(255,0,16,1) 73%, rgba(141,17,17,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#191977",endColorstr="#8d1111",GradientType=1);
}

h2,
h1,
h3{
  margin-top: 20px;
  margin-bottom: unset;
  text-align: center;
  color: white;
}


hr{
  width: 50%;
  margin: 30px auto;
  color: white;
  font-size: 30px;
  border: solid white 2px;
  opacity: 0.35;
  border-radius: 44px;
}



#header .card{
  width: 90%;
  margin-top: 73px;
}
#project .card{
  width: 90%;
  margin-top: 73px;
}
footer .card{
  width: 97%;
  margin-bottom: 5px;
}


.card{
  width: 70%;
  height: 400px;
  margin: 10% auto;
  position: relative;
  display: flex;
  overflow: hidden;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  padding: 7px;
  border-radius: 23px;
  backdrop-filter: blur(200px);
  background: transparent;
  border: solid rgba(255, 255, 255, 0.2) 3px;
}

.card .bg {
  width: 100%;
  height: 100%;
  overflow: hidden;
  /*display: flex;*/

  background: transparent !important;
  border-radius: 10px;
}


.left {
  width: 50%;

  padding: 7px;
  border-radius: 23px;
  backdrop-filter: blur(200px);
  background: transparent;
  border: solid rgba(255, 255, 255, 0.2) 3px;
}

.right {
  width: 50%;

  padding: 7px;
  border-radius: 23px;
  backdrop-filter: blur(200px);
  background: transparent;
  border: solid rgba(255, 255, 255, 0.2) 3px;
}




