#header .card {
  width: 70%;
  margin: auto;
  display: flex;
  margin-top: 10%;
  margin-bottom: 10%;
}
#header .left {
  width: 70%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
#header .left h1 {
  font-weight: bold;
}

#header .right {
    width: 30%;
    background-image: url('../assets/profil.jpg');
    background-size: cover;
}


/* bouton tyrolium */
#header .btn-donate {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: x-large;
  height: 15%;

  @media (max-width: 844px) {
    height: 10%;
    font-size: large;
  }
}

/* réseaux sociaux */
#header .social {
    width: fit-content;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 25px 25px;
    gap: 20px;
  }
  
  /* for all social containers*/
  #header  .socialContainer {
    width: 52px;
    height: 52px;
    border-radius: 50%;
    background-color: rgb(44, 44, 44);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition-duration: .3s;
  }
  /* instagram*/
  #header .containerOne:hover {
    background-color: #d62976;
    transition-duration: .3s;
  }
  /* twitter*/
  #header .containerTwo:hover {
    background-color: #00acee;
    transition-duration: .3s;
  }
  /* linkdin*/
  #header .containerThree:hover {
    background-color: #0072b1;
    transition-duration: .3s;
  }
  /* whatsapp*/
  #header .containerFour:hover {
    background-color: #128C7E;
    transition-duration: .3s;
  }
  #header i {
    color: white;
    font-size: 20px;
  }
  /* github */
  #header .containerFive:hover {
    background-color: black;
    transition-duration: .3s;
  }
  /* youtube */
  #header .containerSix:hover {
    background-color: #c4302b;
    transition-duration: .3s;
  }
  /* discord */
  #header .containerSeven:hover {
    background-color: #738ADB;
    transition-duration: .3s;
  }
  /* tiktok */
  #header .containerEight:hover {
    background-color: black;
    transition-duration: .3s;
  }
  

  #header .socialContainer:active {
    transform: scale(0.9);
    transition-duration: .3s;
  }
  
  #header .socialSvg {
    width: 17px;
  }
  
  #header .socialSvg path {
    fill: rgb(255, 255, 255);
  }

  #header .socialContainer:hover .socialSvg {
    animation: slide-in-top 0.3s both;
  }

  #header .socialContainer:hover i {
    animation: slide-in-top 0.3s both;
  }
  
  @keyframes slide-in-top {
    0% {
      transform: translateY(-50px);
      opacity: 0;
    }
  
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
  
  

  
  
  
  
  
  