#header {
  display: flex;
  width: 100%;
}

#header .card {
    width: 70%;
    margin: auto;
    margin-top: 5%;
    margin-bottom: 5%;
    background-color: rgba(255, 255, 255, 0.5);
    box-shadow: 25px 25px 30px -12px rgb(32, 32, 32);
    border-radius: 20px;
    color: white;
    overflow: hidden;
    position: relative;
    transform-style: preserve-3d;
    perspective: 1000px;
    transition: all 0.5s cubic-bezier(0.23, 1, 0.320, 1);
    cursor: pointer;
}

#header .card-content {
    width: 70%;
    position: relative;
    display: flex;
    flex-direction: column;
    color: black;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100%;
    padding: 3%;
}

#header .card-content h1 {
  font-weight: bold;
}


#header .card .contenu {
    display: flex;
    height: 420px;
}

#header .card .contenu blockquote {
    margin-top: 3%;
}

#header .card-picture {
    width: 30%;
    background-image: url('../assets/profil.jpg');
    background-size: cover;
}

#header .card-content .card-title {
    font-size: 24px;
    font-weight: 700;
    color: inherit;
    text-transform: uppercase;
}

#header .card-content .card-para {
    color: inherit;
    opacity: 0.8;
    font-size: 14px;
}

#header .card:hover {
    transform: rotateY(10deg) rotateX(10deg) scale(1.05);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

#header .card:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background: linear-gradient(transparent, rgba(0, 0, 0, 0.1)); */
    transition: transform 0.5s cubic-bezier(0.23, 1, 0.320, 1);
    z-index: 1;
}

#header .card:hover:before {
    transform: translateX(-100%);
}

#header .card:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(transparent, rgba(0, 0, 0, 0.1));
    transition: transform 0.5s cubic-bezier(0.23, 1, 0.320, 1);
    z-index: 1;
}

#header .card:hover:after {
    transform: translateX(100%);    
}

/* bouton tyrolium */
#header .btn-donate {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: x-large;
  height: 15%;
}

  
  
  
  
  
  