/* HEADER */
#header .card {
    width: 90%;
    margin: auto;
    margin-top: 5%;
    margin-bottom: 5%;
    background-color: rgba(255, 255, 255, 0.5);
    box-shadow: 25px 25px 30px -12px rgb(32, 32, 32);
    border-radius: 20px;
    color: white;
    overflow: hidden;
    position: relative;
    transform-style: preserve-3d;
    perspective: 1000px;
    transition: all 0.5s cubic-bezier(0.23, 1, 0.320, 1);
    cursor: pointer;
}

#header .card-content {
    width: 70%;
    position: relative;
    display: flex;
    flex-direction: column;
    color: black;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100%;
    padding: 3%;
}

#header .card-content h1 {
  font-weight: bold;
}


#header .card .contenu {
    display: flex;
    height: 370px;
}

#header .card .contenu blockquote {
    margin-top: 3%;
}

#header .card-picture {
    width: 30%;
    background-image: url('../assets/profil.jpg');
    background-size: cover;
}

#header .card-content .card-title {
    font-size: 24px;
    font-weight: 700;
    color: inherit;
    text-transform: uppercase;
}

#header .card-content .card-para {
    color: inherit;
    opacity: 0.8;
    font-size: 14px;
}

#header .card:hover {
    transform: rotateY(10deg) rotateX(10deg) scale(1.05);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

#header .card:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(transparent, rgba(0, 0, 0, 0.1));
    transition: transform 0.5s cubic-bezier(0.23, 1, 0.320, 1);
    z-index: 1;
}

#header .card:hover:before {
    transform: translateX(-100%);
}

#header .card:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(transparent, rgba(0, 0, 0, 0.1));
    transition: transform 0.5s cubic-bezier(0.23, 1, 0.320, 1);
    z-index: 1;
}

#header .card:hover:after {
    transform: translateX(100%);    
}
#header .btn-donate {
  --clr-font-main: hsla(0 0% 20% / 100);
    --btn-bg-1: hsla(194 100% 69% / 1);
    --btn-bg-2: hsla(217 100% 56% / 1);
    --btn-bg-color: hsla(360 100% 100% / 1);
    --radii: 0.5em;
    cursor: pointer;
    margin-top: 4%;
    margin-bottom: 4%;
    padding: 0.9em 1.4em;
    min-width: 220px;
    min-height: 44px;
    font-size: var(--size, 1rem);
    font-family: "Segoe UI", system-ui, sans-serif;
    font-weight: 500;
    transition: 0.8s;
    background-size: 280% auto;
    background-image: linear-gradient(325deg, var(--btn-bg-2) 0%, var(--btn-bg-1) 55%, var(--btn-bg-2) 90%);
    border: none;
    border-radius: var(--radii);
    color: var(--btn-bg-color);
    box-shadow: 0px 0px 20px rgba(71, 184, 255, 0.5), 0px 5px 5px -1px rgba(58, 125, 233, 0.25), inset 4px 4px 8px rgba(175, 230, 255, 0.5), inset -4px -4px 8px rgba(19, 95, 216, 0.35);
  }
  
#header .btn-donate:hover {
  background-position: right top;
  }
  
#header .btn-donate:is(:focus, :focus-visible, :active) {
    outline: none;
    box-shadow: 0 0 0 3px var(--btn-bg-color), 0 0 0 6px var(--btn-bg-2);
  }
  
  @media (prefers-reduced-motion: reduce) {
    #header .btn-donate {
      transition: linear;
    }
  }
/* /HEADER */
  
  
/* PROJECT */
#project .content {
    display: flex;
    width: 80%;
    margin: auto;
}

/* card tyro */
#project .cardTyrolium .card {
    position: relative;
    width: 500px;
    height: 600px;
    border-radius: 14px;
    z-index: 1111;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #ffffff;
    background-color: rgba(255, 255, 255, 0.2);
    ;
}
  
#project .cardTyrolium  .bg {
    position: absolute;
    width: 480px;
    height: 580px;
    z-index: 2;
    background: #ececec;
    backdrop-filter: blur(24px);
    border-radius: 10px;
    overflow: hidden;
    outline: 2px solid white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#project .cardTyrolium .bg .logo {
  width: 40%;
  margin-top: 10%;
}
#project .cardTyrolium .bg .text {
  flex-direction: column;
}
  
#project .cardTyrolium .blob {
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    width: 350px;
    height: 350px;
    border-radius: 50%;
    background-color: #ff0000;
    opacity: 1;
    filter: blur(12px);
    animation: blob-bounce 5s infinite ease;
}
  
  @keyframes blob-bounce {
    0% {
      transform: translate(-100%, -100%) translate3d(0, 0, 0);
    }
  
    25% {
      transform: translate(-100%, -100%) translate3d(100%, 0, 0);
    }
  
    50% {
      transform: translate(-100%, -100%) translate3d(100%, 100%, 0);
    }
  
    75% {
      transform: translate(-100%, -100%) translate3d(0, 100%, 0);
    }
  
    100% {
      transform: translate(-100%, -100%) translate3d(0, 0, 0);
    }
  }
  /* / card tyro */

  #project .cardOther .card {
    position: relative;
    width: 700px;
    height: 200px;
    border-radius: 14px;
    z-index: 1111;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #ffffff;
    background-color: rgba(255, 255, 255, 0.2);
}
  
#project .cardOther  .bg {
    position: absolute;
    width: 680px;
    height: 180px;
    z-index: 2;
    background: #ececec;
    backdrop-filter: blur(24px);
    border-radius: 10px;
    overflow: hidden;
    outline: 2px solid white;
}

#project .cardOther  .bg .picture {
  width: 30%;
  object-fit: cover;
  height: 100%;
}

#project .cardOther  .bg .text{
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
}
  
#project .cardOther .blob {
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    width: 350px;
    height: 350px;
    border-radius: 50%;
    background-color: #ff0000;
    opacity: 1;
    filter: blur(12px);
    animation: blob-bounce 5s infinite ease;
}
  
  @keyframes blob-bounce {
    0% {
      transform: translate(-100%, -100%) translate3d(0, 0, 0);
    }
  
    25% {
      transform: translate(-100%, -100%) translate3d(100%, 0, 0);
    }
  
    50% {
      transform: translate(-100%, -100%) translate3d(100%, 100%, 0);
    }
  
    75% {
      transform: translate(-100%, -100%) translate3d(0, 100%, 0);
    }
  
    100% {
      transform: translate(-100%, -100%) translate3d(0, 0, 0);
    }
  }
  
/* /PROJECT */


/* COMPETENCE */
#competence {
    background-color: rgba(255, 255, 255, 0.3);
    padding: 3%;
    margin-top: 5%;
    width: 80%;
    margin: auto;
}

#competence .content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 3%;
}

#competence .group {
    margin: 20px;
}
/* /COMPETENCE */


/* SERVICES */
#service {
    display: flex;
    justify-content: space-evenly;
    background-color: rgba(255, 255, 255, 0.2);
    width: 60%;
    margin: auto;
    margin-top: 5%;
    margin-bottom: 5%;
}

#service .myCard {
background-color: transparent;
width: 250px;
height: 350px;
perspective: 1000px;
}

#service  .title {
font-size: 1.5em;
font-weight: 900;
text-align: center;
margin: 0;
}

#service  .innerCard {
position: relative;
width: 100%;
height: 100%;
text-align: center;
transition: transform 0.8s;
transform-style: preserve-3d;
cursor: pointer;
}

#service .myCard:hover .innerCard {
transform: rotateY(180deg);
}

#service .frontSide,
#service .backSide {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border: 1px solid rgba(255, 255, 255, 0.8);
    border-radius: 1rem;
    color: white;
    box-shadow: 0 0 0.3em rgba(255, 255, 255, 0.5);
    font-weight: 700;
}

#service .frontSide,
#service .frontSide::before {
    background: linear-gradient(43deg, rgb(65, 88, 208) 0%, rgb(200, 80, 192) 46%, rgb(255, 204, 112) 100%);
}

#service  .backSide,
#service  .backSide::before {
    background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
}

#service .backSide {
    transform: rotateY(180deg);
}

#service .frontSide::before,
#service .backSide::before {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    content: '';
    width: 110%;
    height: 110%;
    position: absolute;
    z-index: -1;
    border-radius: 1em;
    filter: blur(20px);
    animation: animate 5s linear infinite;
}

/* /SERVICES */

/* FOOTER */
#footer {
  padding-top: 1%;
  padding-bottom: 1%;
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: 0px -10px 12px rgba(0, 0, 0, 0.1);
}
/* /FOOTER */
  
  
  
  
  
  