#navbar {
    background-color: rgba(255, 255, 255, 0.3);
    display: flex;
    justify-content: center;
    box-shadow: -1px 15px 30px -12px rgb(32, 32, 32);
}

#navbar .content {
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#navbar .content h5 {
    margin: 0;
    font-weight: bold;
}

#navbar .content .items ul {
    display: flex;
}

#navbar .content .items ul li {
    margin-inline: 20px;
    list-style: none;
    color: black;
    font-size: large;
    font-weight: 500;
}

#navbar .content .items ul li a {
  padding: 8px;
  text-decoration: none;
  color: black;
}

#navbar .content .items ul li a:hover {
  border-bottom: 4px solid rgb(71, 184, 255);
}

#navbar .btn-donate i {
    margin-inline: 8px;
}

/* #navbar .content .items ul li:hover {
    border-bottom: 4px solid #47b8ff;
} */