#navbar {
    background-color: rgba(255, 255, 255, 0.3);
    display: flex;
    justify-content: center;
}

#navbar .content {
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
}

#navbar .content h3 {
    margin: 0;
}

#navbar .content .items a {
    margin-inline: 10px;
    text-decoration: none;
    color: black;
    font-size: large;
    font-weight: 500;
}