
@media (max-width: 950px) {
    #service .cardService {
        flex-direction: column;
        align-items: center;
    }
}

#service {
    background-color: rgba(255, 255, 255, 0.2);
    width: 60%;
    margin: auto;
    margin-top: 5%;
    margin-bottom: 5%;
}

#service .cardService {
    display: flex;
    justify-content: space-evenly;
}

#service .myCard {
background-color: transparent;
width: 250px;
height: 350px;
perspective: 1000px;
margin-top: 5%;
margin-bottom: 5%;
}

#service h2 {
    text-align: center;
    padding-top: 5%;
    font-weight: bold;
}

#service  .title {
font-size: 1.5em;
font-weight: 900;
text-align: center;
margin: 0;
}

#service  i {
    font-size: 100px;
    }

#service  .innerCard {
position: relative;
width: 100%;
height: 100%;
text-align: center;
transition: transform 0.8s;
transform-style: preserve-3d;
cursor: pointer;
}

#service .myCard:hover .innerCard {
transform: rotateY(180deg);
}

#service .frontSide,
#service .backSide {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border: 4px solid white;
    border-radius: 1rem;
    color: white;
    font-weight: 700;
}

#service .frontSide,
#service .frontSide::before {
  background-image: linear-gradient(325deg, #1E74FF 0%, #60DAFF 100%, #1E74FF 90%);
}

#service  .backSide,
#service  .backSide::before {
    background-image: linear-gradient(325deg, #1E74FF 0%, #60DAFF 100%, #1E74FF 90%);
}

#service .backSide {
    transform: rotateY(180deg);
}

#service .frontSide::before,
#service .backSide::before {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    content: '';
    width: 110%;
    height: 110%;
    position: absolute;
    z-index: -1;
    border-radius: 1em;
    filter: blur(20px);
    animation: animate 5s linear infinite;
}
